@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.466);
}
.conainer-img-header, .ul-header{
    display:inline;
}
.container-img-header{
    margin-left:15%;
}
li{
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    margin-top: 50px;
    margin-left: 20px;
}
a:link,
a:visited,
a:active{
    color:rgb(0, 0, 0);
    text-decoration: black;
}
.main{
    display: flex;
}
.imagenmedallo{
    width:100%;
    height:auto;
}
.img-fondo{
    width:100%;
    height:auto;
    z-index:100;
}
.porcentaje{
    margin-left: 18%;
    margin-right: 18%;
}
ul{
    padding: 0px;
    text-align: center;
}
.icono{
    width: 9%;
}
.h11{   
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    font-size: 20px;
    line-height: 0.9cm;
}
.imagen2{
    width: 100%;
    height:auto;
}
.hr{
    border: 1px groove;
}
.divimagen1{
    font-size: 20px;
}
@media(max-width: 600px){
    header{
        position:relative;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .conainer-img-header{
        position:relative;
        display:flex;
        justify-content:center;
        width:100%;
        padding-top:30px;
    }
    .conainer-img-header img{
        width:50%;
    }
    .ul-header{
        width:100%;
        position:relative;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }
    .ul-header li{
        display:block;
        width:70%;
        margin-left:0px;
    }
}